<a href="https://colab.research.google.com/github/mihirahuja1/Spotify-Artist-Promotion/blob/master/MetaInformationForCharts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook covers the way to extract meta information for the previously obtained tracks!

In [2]:
import pandas as pd
import numpy as np
!pip install spotipy
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

Collecting spotipy
  Downloading https://files.pythonhosted.org/packages/f1/62/210c7942dede1c0d39aa56520d59c4565e232f957ea4caea87da7e6f3e61/spotipy-2.13.0-py3-none-any.whl
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (1.12.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from spotipy) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->spotipy) (2020.6.20)
Installing collected packages: spotipy
Successfully installed spotipy-2.13.0

In [15]:
chartcollection = pd.read_csv('drive/My Drive/SpotifyDS/chartCollection.csv')

In [16]:
cid= 'Your Client ID here'
secret= 'Your Secret Key here'

In [17]:

client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager
=
client_credentials_manager)

Function to generate audio features

In [3]:
cnt=0
main_df = pd.DataFrame()

def create_audio_features_df(song):
  global cnt
  global main_df
  try:
    d = sp.audio_features(song)[0]
    
    new_df = pd.DataFrame(d.values())
    new_df = new_df.transpose()
  except:
    new_df = pd.DataFrame(index=np.arange(1), columns=np.arange(18))
  if cnt == 0:
    main_df = new_df
  else:
    
    x = pd.concat([main_df, new_df], ignore_index=True)
    main_df = x
  cnt+=1

In [41]:
main_df

Empty DataFrame
Columns: []
Index: []

In [52]:
chartcollection['URL'].apply(lambda x : create_audio_features_df(x[31:]))

In [45]:
main_df.to_csv('drive/My Drive/SpotifyDS/only_audio_features.csv')

In [46]:
main_df.columns = main_df.columns.astype(str)
main_df= main_df[['0','1','2','3','4','5','6','7','8','9','10']]
main_df.columns = ['danceability', 'energy','key','loudness','mode','speechiness','acousticness','instrumentalness','liveness','valence','tempo']

In [47]:
main_df

      danceability energy key  ... liveness valence    tempo
0            0.747  0.622  11  ...    0.151    0.57   159.93
1            0.625  0.814   0  ...    0.158   0.535  144.991
2             0.63  0.446   1  ...    0.166   0.177  143.078
3            0.701   0.65   6  ...    0.112   0.647   90.003
4            0.568  0.545   1  ...    0.112   0.234  174.144
...            ...    ...  ..  ...      ...     ...      ...
10977        0.667  0.719   7  ...   0.0736   0.717  100.021
10978        0.878  0.525   5  ...   0.0714   0.694  112.022
10979        0.585  0.187   9  ...   0.0929   0.179  123.862
10980         0.61   0.83   0  ...    0.118   0.728  182.162
10981        0.542  0.337   5  ...   0.0635   0.205   134.17

[10982 rows x 11 columns]

In [49]:
charts_with_audio_info = pd.concat([chartcollection, main_df], axis=1)

In [51]:
charts_with_audio_info.to_csv('drive/My Drive/SpotifyDS/charts_with_audio_info.csv')